<h1>Cars:</h1>
<form action="/car_added" method="post">
  <label for="new-car">Car description:</label>
  <input id="new-car" name="new-car" type="text">
  <button type="submit">Submit</button>
</form>
