<h1>Cars:</h1>
<form action="/view_all_cars">
  <label for="new-car">Add a new car model:</label>
  <input id="new-model" name="new-model" type="text">
  <button type="submit">Submit</button>
</form>
