<h1>You've added a new car!</h1>
<ul>
  <li>@Model.GetMake(), @Model.GetModel(), @Model.GetPrice()</li>
</ul>
<p><a href="/">Add another Car</a></p>
<p><a href="/view_all_cars">View current cars</a></p>
