<h1>Cars</h1>
<ul>
  @foreach(var car in Model)
  {
    <li>@car.GetMake(), @car.GetModel(), @car.GetPrice() </li>
  }
</ul>
<p><a href="/">Add another car</a></p>
<form action="/cars_cleared" method="post">
  <button type="submit" name="button">Clear all cars</button>
</form>
